
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esults/
[Aa]pp_Data/
*.cache
*.log

# NuGet
*.nupkg
packages/
project.lock.json


.idea/
.vscode/

# Otros
_ReSharper*/
*.ide/

/Properties/PublishProfiles
